<div class="main-container">
    <section class="text-center height-50">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>Oi, nos somos a Joplins!</h1>
                    <p class="lead">
                        Uma plataforma para quem deseja anunciar suas vagas e para aqueles que buscam por uma oportunidade de emprego.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="process-1">
                        <div class="process__item">
                            <h4>Missão</h4>
                            <img alt="Image" src="assets/img/cowork-3.jpg" class="border--round">
                            <p>
                                Oferecer uma descomplicada experiência às empresas e/ou candidatos que desejam divulgar suas ofertas de vagas, cursos, encontrar um emprego, adiquirir cursos na plataforma... tudo respectivo ao seu perfil pessoal.
                            </p>
                        </div>
                        <div class="process__item">
                            <h4>Visão</h4>
                            <img alt="Image" src="assets/img/cowork-1.jpg" class="border--round">
                            <p>
                                Ser empresa de referência, na área de recrutamento e seleção, reconhecida com o maior nivel de acesso para o nincho. Oferecer melhor proposta para colaboradores, clientes, empresas e investidores.
                            </p>
                        </div>
                        <div class="process__item">
                            <h4>Valores</h4>
                            <img alt="Image" src="assets/img/cowork-5.jpg" class="border--round">
                            <p>
                                Só é bom para nós, se for bom para o cliente.
                                Simples, sempre.
                                Gente é tudo para a gente.
                                Ética é inegociável.
                                Fanáticos por perfomance.
                                Pensamos e agimos como Lideres.
                            </p>
                        </div>
                    </div>
                    <!--end process-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="cta">
                        <h2>We're always looking for talent</h2>
                        <p class="lead">
                            Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.
                        </p>
                        <a class="btn btn--primary type--uppercase" href="https://themeforest.net/item/stack-multipurpose-html-with-page-builder/19337626?ref=medium_rare">
                            <span class="btn__text">
                                See Job Openings
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>