<div class="main-container">
  <section class="text-center space--even">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="typed-headline">
            <span class="h2 inline-block">Stack helps forward-thinking clients</span>
            <span class="h2 inline-block typed-text typed-text--cursor color--primary"
              data-typed-strings="engage audiences,convert visitors,forge ahead,establish brands,target customers,disrupt industries,communicate">forge
            </span>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="masonry">
            <div class="masonry-filter-container text-center row justify-content-center align-items-center">
              <span>Category:</span>
              <div class="masonry-filter-holder masonry-filters--horizontal">
                <div class="masonry__filters" data-filter-all-text="All Categories">
                  <ul>
                    <li class="active" data-masonry-filter="*">All Categories</li>
                    <li data-masonry-filter="branding">Branding</li>
                    <li data-masonry-filter="digital">Digital</li>
                    <li data-masonry-filter="print">Print</li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
            <div class="masonry__container row masonry--active" style="position: relative; height: 1404.33px;">
              <div class="masonry__item col-md-6 text-center filter-print" data-masonry-filter="Print"
                style="position: absolute; left: 0px; top: 0px;">
                <div class="project-thumb">
                  <a href="#">
                    <img alt="Image" class="border--round" src="assets/img/work-6.jpg">
                  </a>
                  <h4>Nike Active</h4>
                  <span>Print Marketing</span>
                </div>
              </div>
              <!--end item-->
              <div class="masonry__item col-md-6 text-center filter-print" data-masonry-filter="Print"
                style="position: absolute; left: 570px; top: 0px;">
                <div class="project-thumb">
                  <a href="#">
                    <img alt="Image" class="border--round" src="assets/img/work-2.jpg">
                  </a>
                  <h4>Get Lost in Thailand</h4>
                  <span>Print Marketing</span>
                </div>
              </div>
              <!--end item-->
              <div class="masonry__item col-md-6 text-center filter-branding" data-masonry-filter="Branding"
                style="position: absolute; left: 0px; top: 468px;">
                <div class="project-thumb">
                  <a href="#">
                    <img alt="Image" class="border--round" src="assets/img/work-3.jpg">
                  </a>
                  <h4>M&amp;D Stairs Company</h4>
                  <span>Branding &amp; Identity</span>
                </div>
              </div>
              <!--end item-->
              <div class="masonry__item col-md-6 text-center filter-branding" data-masonry-filter="Branding"
                style="position: absolute; left: 570px; top: 468px;">
                <div class="project-thumb">
                  <a href="#">
                    <img alt="Image" class="border--round" src="assets/img/work-4.jpg">
                  </a>
                  <h4>Blossom Naturals</h4>
                  <span>Branding &amp; Identity</span>
                </div>
              </div>
              <!--end item-->
              <div class="masonry__item col-md-6 text-center filter-digital" data-masonry-filter="Digital"
                style="position: absolute; left: 0px; top: 936px;">
                <div class="project-thumb">
                  <a href="#">
                    <img alt="Image" class="border--round" src="assets/img/work-1.jpg">
                  </a>
                  <h4>Unvest Capital</h4>
                  <span>Digital &amp; Interactive Design</span>
                </div>
              </div>
              <!--end item-->
              <div class="masonry__item col-md-6 text-center filter-digital" data-masonry-filter="Digital"
                style="position: absolute; left: 570px; top: 936px;">
                <div class="project-thumb">
                  <a href="#">
                    <img alt="Image" class="border--round" src="assets/img/work-5.jpg">
                  </a>
                  <h4>Nuaca</h4>
                  <span>Digital &amp; Interactive Design</span>
                </div>
              </div>
              <!--end item-->
            </div>
            <!--end of masonry container-->
          </div>
          <!--end masonry-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="cta">
            <h2>Ready to start your project?</h2>
            <p class="lead">
              Each purchase of Stack comes with six months free support — and a lifetime of free content and bug-fix
              updates.
            </p>
            <a class="btn btn--primary type--uppercase"
              href="https://themeforest.net/item/stack-multipurpose-html-with-page-builder/19337626?ref=medium_rare">
              <span class="btn__text">
                Purchase on Envato
              </span>
              <span class="label">$18 USD</span>
            </a>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</div>